.header {
  background-image: url('../../img/Rectangle.png');
  height: 150px;

  padding-top: 60px;
  padding-bottom: 60px;
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 15px;
  @media screen and (min-width: 470px) {
    padding: 0 70px;
  }
}
.logo {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  margin-right: 30px;
  @media screen and (min-width: 470px) {
    font-size: 30px;
    line-height: 35px;
  }
}
.nav {
  display: flex;
  gap: 10px;
  align-items: center;
  @media screen and (min-width: 470px) {
    gap: 40px;
  }
}
.home,
.movies {
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  padding: 12px 16px;
  color: #ffffff;
  @media screen and (min-width: 470px) {
    padding: 12px 24px;
  }
}
.active {
  color: red;
}
.footerTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #545454;
  gap: 5px;
}
.footer {
  background: #f7f7f7;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.link {
  display: block;
  text-decoration-line: underline;
  padding: 12px 24px;
}
