.section {
  margin-top: 60px;
  margin-bottom: 60px;
}
.text {
  margin-top: 10px;
  font-size: 12px;
  line-height: 16px;
  color: #8c8c8c;
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.item {
  width: 100px;
}
